#imghead{
    margin-left: 25%;
    margin-right: 0%;
    display: block;
    width: 50%;
    height: 40%;
    margin-top: 0%;
}

#menu{
    list-style: none;
    padding: 0px;
    margin: 0px;   
}
#menu li{
    display: inline;
}

#menu li a{
    display: inline-block;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 1% 7.93%;
    font-family: 'New Rocker', cursive;
    font-size: 110%;
}

#menu li :hover{
    background-color: orangered;
    color: black;
}

#imgps{
    float: left;
    width: 500px;
    margin-right: 50px;
}

#pmain{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pmain2{
    margin-top: 200px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
#rodape{
    background-image: url(../images/footer.jpg);
    margin-top: 10%;
    height: 150px;
    color:orangered;
    font-size: 100%;
}
#rodape p{
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'New Rocker', cursive;
}

#descri{
    text-align: center;
    font-size: 150%;
    padding-left: 200px;
    padding-right: 200px;
}

#title{
    text-align: center;
    padding-top: 20px;
    font-family: 'New Rocker', cursive;
    font-size: 300%;
}

#imgs{
    display: inline;
}

#subt{
    text-align: center;
    font-family: 'New Rocker', cursive;
    font-size: 150%;
}

#sprts1{
    width: 550px;
}

#sprts2{
    width: 410px;
}

#SB1{
    width: 600px;
}

#fatbob{
    width: 400px;
}

#sft{
    width: 400px;
}

#fatboy{
    width: 500px;
}

#dlx{
    width: 510px;
    margin-bottom: -9%;
}

#sportg{
    width: 470px;
}

#bk114{
    width: 500px;
}

#fxdr{
    width: 420px;
}

#rks{
    width: 400px;
    text-align: center;
}

#sgs{
    width: 400px;
    text-align: center;
}

#ultral{
    width: 400px;
    text-align: center;
}

#rgs{
    width: 400px;
    text-align: center;
}

#rgu{
    width: 400px;
    text-align: center;
}

#csg{
    width: 400px;
    text-align: center;
}

#crg{
    width: 400px;
    text-align: center;
}

#clim{
    width: 400px;
    text-align: center;
}