#imghead{
    margin-left: 25%;
    margin-right: 0%;
    display: block;
    width: 50%;
    height: 300px;
    margin-top: 0%;
}

#menu{
    list-style: none;
    margin-left: -35px;
    
}
#menu li{
    display: inline-block;
}

#menu li a{
    background-color: black;
    text-decoration: none;
    padding: 16px 108.1px;
    color: white;
    margin-left: -5px;
    font-family: 'New Rocker', cursive;
    font-size: 110%;
}

#menu li :hover{
    background-color: orangered;
}

#menu li :visited{
    background-color: orangered;
}

#imgps{
    float: left;
    width: 500px;
    margin-right: 50px;
}

#pmain{
    margin-top: 50px;
    margin-left: 50px;
}
#pmain2{
    margin-top: 150px;
    margin-left: 50px;
}
#rodape{
    background-image: url(https://di-uploads-pod4.dealerinspire.com/avalancheharleydavidson/uploads/2015/12/H-D-gallery-background.jpg);
    margin-top: 10%;
    height: 150px;
    color:orangered;
    font-size: 100%;
}
#rodape p{
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'New Rocker', cursive;
}


