#imghead{
    margin-left: 25%;
    margin-right: 0%;
    display: block;
    width: 50%;
    height: 40%;
    margin-top: 0%;
}
#body{
    background-color: black;
}
#menu li a{
    text-decoration: none;
    color: white;
    font-family: 'New Rocker', cursive;
    font-size: 130%;
}

#menu li :hover{
    color:orangered;
}

#imgps{
    float: left;
    width: 500px;
    margin-right: 50px;
}

#pmain{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#pmain2{
    margin-top: 200px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#parag{
    color: white;
}
#rodape{
    background-image: url(../images/footer.jpg);
    margin-top: 10%;
    height: 150px;
    color:orangered;
    font-size: 100%;
}
#rodape p{
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'New Rocker', cursive;
}

#descri{
    text-align: center;
    font-size: 150%;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}

#title{
    text-align: center;
    padding-top: 20px;
    font-family: 'New Rocker', cursive;
    font-size: 300%;
    color: orangered;
}

#imgs{
    display: inline;
}

#subt{
    text-align: center;
    font-family: 'New Rocker', cursive;
    font-size: 150%;
}

#sprts1{
    width: 550px;
}

#sprts2{
    width: 410px;
}

#SB1{
    width: 600px;
}

#fatbob{
    width: 400px;
}

#sft{
    width: 400px;
}

#fatboy{
    width: 500px;
}

#dlx{
    width: 510px;
}

#sportg{
    width: 470px;
}

#bk114{
    width: 500px;
}

#fxdr{
    width: 420px;
}

#rks{
    width: 400px;
}

#sgs{
    width: 400px;
}

#ultral{
    width: 400px;
}

#rgs{
    width: 400px;
}

#rgu{
    width: 400px;
}

#csg{
    width: 400px;
}

#crg{
    width: 400px;
}

#clim{
    width: 400px;
}

.card{
    width: 500px;
    text-align: center;
    margin: auto;
    font-family: 'New Rocker', cursive;
    font-size: 130%;
    margin-top: 3%;
}
